# ML_Decision_Tree_Classifier

In [249]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv(r"C:\Users\yarra\OneDrive\Desktop\Data sets\Salaries_Decision Tree.csv")
df

     company                  job     degree  salary_more_then_100k
0     google      sales executive  bachelors                      0
1     google      sales executive    masters                      0
2     google     business manager  bachelors                      1
3     google     business manager    masters                      1
4     google  computer programmer  bachelors                      0
5     google  computer programmer    masters                      1
6     amazon      sales executive    masters                      0
7     amazon  computer programmer  bachelors                      0
8     amazon     business manager  bachelors                      0
9     amazon     business manager    masters                      1
10  facebook      sales executive  bachelors                      1
11  facebook      sales executive    masters                      1
12  facebook     business manager  bachelors                      1
13  facebook     business manager    masters                      1
14  facebook  computer programmer  bachelors                      1
15  facebook  computer programmer    masters                      1

In [250]:
x=df.iloc[:,0:3]
x

     company                  job     degree
0     google      sales executive  bachelors
1     google      sales executive    masters
2     google     business manager  bachelors
3     google     business manager    masters
4     google  computer programmer  bachelors
5     google  computer programmer    masters
6     amazon      sales executive    masters
7     amazon  computer programmer  bachelors
8     amazon     business manager  bachelors
9     amazon     business manager    masters
10  facebook      sales executive  bachelors
11  facebook      sales executive    masters
12  facebook     business manager  bachelors
13  facebook     business manager    masters
14  facebook  computer programmer  bachelors
15  facebook  computer programmer    masters

In [251]:
y=df.iloc[:,3:]
y

    salary_more_then_100k
0                       0
1                       0
2                       1
3                       1
4                       0
5                       1
6                       0
7                       0
8                       0
9                       1
10                      1
11                      1
12                      1
13                      1
14                      1
15                      1

In [252]:
from sklearn.preprocessing import LabelEncoder

In [253]:
l_com=LabelEncoder()
l_job=LabelEncoder()
l_deg=LabelEncoder()

In [254]:
x["l_company"]=l_com.fit_transform(x["company"])
x["l_job"]=l_job.fit_transform(x["job"])
x["l_degree"]=l_deg.fit_transform(x["degree"])

In [255]:
x

     company                  job     degree  l_company  l_job  l_degree
0     google      sales executive  bachelors          2      2         0
1     google      sales executive    masters          2      2         1
2     google     business manager  bachelors          2      0         0
3     google     business manager    masters          2      0         1
4     google  computer programmer  bachelors          2      1         0
5     google  computer programmer    masters          2      1         1
6     amazon      sales executive    masters          0      2         1
7     amazon  computer programmer  bachelors          0      1         0
8     amazon     business manager  bachelors          0      0         0
9     amazon     business manager    masters          0      0         1
10  facebook      sales executive  bachelors          1      2         0
11  facebook      sales executive    masters          1      2         1
12  facebook     business manager  bachelors          1      0         0
13  facebook     business manager    masters          1      0         1
14  facebook  computer programmer  bachelors          1      1         0
15  facebook  computer programmer    masters          1      1         1

In [256]:
x=x.iloc[:,3:6]
x

    l_company  l_job  l_degree
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [257]:
from sklearn.model_selection import train_test_split

In [258]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.70)

In [259]:
xtrain

    l_company  l_job  l_degree
14          1      1         0
8           0      0         0
15          1      1         1
5           2      1         1
7           0      1         0
13          1      0         1
10          1      2         0
12          1      0         0
1           2      2         1
9           0      0         1
11          1      2         1

In [260]:
ytrain

    salary_more_then_100k
14                      1
8                       0
15                      1
5                       1
7                       0
13                      1
10                      1
12                      1
1                       0
9                       1
11                      1

In [261]:
xtest

   l_company  l_job  l_degree
6          0      2         1
4          2      1         0
3          2      0         1
2          2      0         0
0          2      2         0

In [262]:
ytest

   salary_more_then_100k
6                      0
4                      0
3                      1
2                      1
0                      0

In [263]:
from sklearn.tree import DecisionTreeClassifier

In [264]:
dtc=DecisionTreeClassifier()
dtc.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [265]:
dtc.predict(xtest)

array([1, 1, 1, 1, 0], dtype=int64)

In [266]:
dtc.score(xtest,ytest)

0.6